#!/bin/bash

DB_USER="{{ db_user }}"
BACKUP_DIR="/var/backups/backup_sql/"
DATE=$(date +"%Y-%m-%d_%H-%M-%S")
S3_BUCKET="{{ s3_bucket }}"

# Buat backup directory jika belum ada
if [ ! -d "$BACKUP_DIR" ]; then
  mkdir -p $BACKUP_DIR
fi

{% for db in db_name %}
# Backup dan upload {{ db }}
FILENAME="{{ db }}_${DATE}.sql"
mysqldump -u $DB_USER {{ db }} > $BACKUP_DIR/$FILENAME
aws s3 cp $BACKUP_DIR/$FILENAME $S3_BUCKET
rm -f $BACKUP_DIR/$FILENAME
{% endfor %}
